.RootContainer {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(#01256e, #95001a, #01256e 400vh);
  background-image: -moz-linear-gradient(
    top,
    #01256e,
    #95001a,
    #01256e 400vh
  ); /* FF3.6+ */
  background-image: -webkit-linear-gradient(
    top,
    #01256e,
    #95001a,
    #01256e 400vh
  ); /* Chrome10+,Safari5.1+ */
  /* background: linear-gradient(#01256e, #95001a, #01256e); */
}

.fixed {
  flex-grow: 1;
  transition: flex-grow 1000ms linear;
}

.removed {
  flex-grow: 0.00001;
}